.main-container {
    max-width: 768px;
    margin: 0 auto;
    margin: auto;
    position: relative;
}

/*****body*****/
body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Roboto, sans-serif;
}

/******Header******/
.header {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .25);
}

.header-logo {
    margin: 0;
    text-align: center;
    font-family: Shrikhand, "cursive";
}

/******Main page resteau*****/
.menu-container {
    margin: 50px;
    border: 3px solid black;
    display: flex;
    overflow: hidden;
}

.menu-information {
    border: 1px solid red;
    display: flex;
    flex: 1;
}

.menu-title {
    border: 1px solid blue;
    flex: 1;
}

.menu-price {
    border: 1px solid orange;
}

.menu-check {
    border: 1px solid green;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -50px;
    transition: 1s;
}

.menu-container:hover .menu-check {
    margin-right: 0;

}

.heart-container {
    height: 50px;
    position: relative;
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
}

.full-heart {
    position: absolute;
    color: pink;
    opacity: 0;
    font-size: 30px;
    transition: 1s;
}

.empty-heart {
    position: absolute;
    opacity: 1;
    font-size: 30px;
    transition: 1s;
}

.heart-container:hover .empty-heart {
    opacity: 0;
}

.heart-container:hover .full-heart {
    opacity: 1;
}













/******Footer******/
footer {
    background-color: #353535;
    width: 100%;
    padding: 0;
}

.footer-logo {
    color: white;
    font-family: Shrikhand, "cursive";
}

@media (min-width: 768px) {

    .main-container {
        max-width: 1440px;
    }

    body {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .footer .footer-container {
        max-width: 1440px;
    }
}